{% load static %}
<!DOCTYPE html>
<html lang = "en">
    <head>
        <title> Acceuil</title>
        <link rel="stylesheet" href="{% static 'projet2/css/main.css' %}">
    </head>
    <body>
        <div class ="header">
            <nav>
                <ul class ='menu'>
                    <li><a href = "http://localhost:8000/Acceuil/">Acceuil</a></li>
                    <li><a href = "http://localhost:8000/Analyse/">Analyse préliminaire</a></li>
                    <li><a href = "http://localhost:8000/Movies/">Films et téléfilms</a></li>
                    <li><a href = "http://localhost:8000/Short/">Courts Métrages</a></li>
                    <li><a href = "http://localhost:8000/Series/">Series / TvSeries</a></li>
                    <li><a href = "http://localhost:8000/ML/">Machine Learning</a></li>
                </ul>

            </nav>
        </div>
        <br><br><br><br><br><br>
        <center><h1><FONT size="8pt"> Systeme de recommandation de films</FONT></h1></center>

        <br><br><br><br><br><br><br>
        
            
                    <center><img src="{% static 'images/Camera3.jpg' %}" alt="Box Image"/> </center>

                   
                    
            
        

    </body>
</html>
