{% load static %}
<!DOCTYPE html>
<html lang = "en">
    <head>
        <title> Séries</title>
        <link rel="stylesheet" href="{% static 'projet2/css/style1.css' %}">
    </head>
    <body>

<div class ="header">
    <nav>
        <ul class ='menu'>
            <li><a href = "http://localhost:8000/Acceuil/">Acceuil</a></li>
            <li><a href = "http://localhost:8000/Analyse/">Analyse préliminaire</a></li>
            <li><a href = "http://localhost:8000/Movies/">Films et téléfilms</a></li>
            <li><a href = "http://localhost:8000/Short/">Courts Métrages</a></li>
            <li><a href = "http://localhost:8000/Series/">Series / TvSeries</a></li>
            <li><a href = "http://localhost:8000/ML/">Machine Learning</a></li>
        </ul>

    </nav>
</div>
<center><h1> Séries</h1></center>
<br>

<center><img class="resized-img" src="{% static 'images/nb_serie.jpg' %}" alt="nb_serie Image"/> <img class="resized-img"  src="{% static 'images/Moy_serie2.jpg' %}" alt="Moy_serie2 Image"/> </center>
<br><br><br><br><br><br><br><br>

<center><img src="{% static 'images/nb_acteur_serie.jpg' %}" alt="nb_acteur_serie Image"/></center>


<br><br><br><br><br><br><br><br>


<center><img src="{% static 'images/Top5_serie.jpg' %}" alt="Top5_serie Image"/> </center>

<br><br><br><br><br><br><br><br>

<center><img src="{% static 'images/Moy_saison.jpg' %}" alt="Moy_saison Image"/>   <img src="{% static 'images/nb_episode.jpg' %}" alt="nb_episode Image"/>  </center>

<div class ="header">
    <nav>
        <ul class ='menu'>
            <li><a href = "http://localhost:8000/Acceuil/">Acceuil</a></li>
            <li><a href = "http://localhost:8000/Analyse/">Analyse préliminaire</a></li>
            <li><a href = "http://localhost:8000/Movies/">Films et téléfilms</a></li>
            <li><a href = "http://localhost:8000/Short/">Courts Métrages</a></li>
            <li><a href = "http://localhost:8000/Series/">Series / TvSeries</a></li>
            <li><a href = "http://localhost:8000/ML/">Machine Learning</a></li>
        </ul>

    </nav>
</div>
</body>
</html>
