{% load static %}
<!DOCTYPE html>
<html lang = "en">
    <head>
        <title> Courts métragesMovies</title>
        <link rel="stylesheet" href="{% static 'projet2/css/style1.css' %}">
    </head>
    <body>

<div class ="header">
    <nav>
        <ul class ='menu'>
            <li><a href = "http://localhost:8000/Acceuil/">Acceuil</a></li>
            <li><a href = "http://localhost:8000/Analyse/">Analyse préliminaire</a></li>
            <li><a href = "http://localhost:8000/Movies/">Films et téléfilms</a></li>
            <li><a href = "http://localhost:8000/Short/">Courts Métrages</a></li>
            <li><a href = "http://localhost:8000/Series/">Series / TvSeries</a></li>
            <li><a href = "http://localhost:8000/ML/">Machine Learning</a></li>
        </ul>

    </nav>
</div>
<center><h1> Courts Métrages</h1></center>
<br>

<center><img class="resized-img" src="{% static 'images/nb_shorts.jpeg' %}" alt="nb_shorts Image"/> <img class="resized-img" src="{% static 'images/Moy_vote_short.jpg' %}" alt="Moy_vote_short Image"/></center>
<br><br><br><br><br><br><br><br>

<center><img src="{% static 'images/Acteur_short.jpg' %}" alt="Acteur_short Image"/> </center>


<br><br><br><br><br><br><br><br>


<center><img src="{% static 'images/Med_pop.jpg' %}" alt="Med_pop Image"/><img src="Med_pop.jpg" alt="" /> </center>





<div class ="header">
    <nav>
        <ul class ='menu'>
            <li><a href = "http://localhost:8000/Acceuil/">Acceuil</a></li>
            <li><a href = "http://localhost:8000/Analyse/">Analyse préliminaire</a></li>
            <li><a href = "http://localhost:8000/Movies/">Films et téléfilms</a></li>
            <li><a href = "http://localhost:8000/Short/">Courts Métrages</a></li>
            <li><a href = "http://localhost:8000/Series/">Series / TvSeries</a></li>
            <li><a href = "http://localhost:8000/ML/">Machine Learning</a></li>
        </ul>

    </nav>
</div>










</body>
</html>
