{% load static custom_tags %}
<!DOCTYPE html>
<html lang = "en">
    <head>
        <title> Analyse préliminaire</title>
        <link rel="stylesheet" href="{% static 'projet2/css/style1.css' %}">
    </head>
    <body>

<div class ="header">
    <nav>
        <ul class ='menu'>
            <li><a href = "http://localhost:8000/Acceuil/">Acceuil</a></li>
            <li><a href = "http://localhost:8000/Analyse/">Analyse préliminaire</a></li>
            <li><a href = "http://localhost:8000/Movies/">Films et téléfilms</a></li>
            <li><a href = "http://localhost:8000/Short/">Courts Métrages</a></li>
            <li><a href = "http://localhost:8000/Series/">Series / TvSeries</a></li>
            <li><a href = "http://localhost:8000/ML/">Machine Learning</a></li>
        </ul>

    </nav>
</div>
<center><h1> Analyse préliminaire</h1></center>
<br>
<center><img src="{% static 'images/Genre_per.jpg' %}" alt="Genre_per Image"/><img class="resized-img" src="{% static 'images/Act_app.jpg' %}" alt="Act_app Image"/> </center>
<br><br><br><br><br><br><br><br>

<center><img src="{% static 'images/Moy_rep.jpg' %}" alt="Moy_rep Image"/>  </center>



<div class ="header">
    <nav>
        <ul class ='menu'>
            <li><a href = "http://localhost:8000/Acceuil/">Acceuil</a></li>
            <li><a href = "http://localhost:8000/Analyse/">Analyse préliminaire</a></li>
            <li><a href = "http://localhost:8000/Movies/">Films et téléfilms</a></li>
            <li><a href = "http://localhost:8000/Short/">Courts Métrages</a></li>
            <li><a href = "http://localhost:8000/Series/">Series / TvSeries</a></li>
            <li><a href = "http://localhost:8000/ML/">Machine Learning</a></li>
        </ul>

    </nav>
</div>



</body>
</html>
